:root {
  --gantt-font-family: 'Roboto', sans-serif !important;
  --gantt-container-border-radius: 0px !important;
  --gantt-progress-completed: #17c964 !important;
  --gantt-progress-accepted: #00670a !important;
  /* --gantt-grid-line-color: #f2f2f2 !important; */
}

.gantt-container {
  border: 0;
}

.gantt-tl-row {
  border-bottom: 1px solid #f1f1f1 !important;
}

.gantt-tl-row .assigned-resources-edit {
  opacity: 0;
  pointer-events: none;
}

.gantt-tl-row:hover .assigned-resources-edit,
.gantt-tl-row:focus-within .assigned-resources-edit {
  opacity: 1;
  pointer-events: auto;
}
